<center>
    <a href="https://www.aims-senegal.org/" ><img src="aimssn_logo.png" style="float:center; max-width: 600px; display: inline" alt="IMSP"/> </a>
    </center>
    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Practicals: Variables, Types & Operations </span> </b></center>

**Exercise 00:**  

> 1. Declare a variable `firstname` and assign it a value.
> 2. Declare a `lastname` variable and assign a value to it.
> 3. Declare a `full_name` variable and assign it a value.
> 4. Declare a `country` variable and assign it a value.
> 5. Declare a variable `city` and assign it a value.
> 6. Declare a `age` variable and assign it a value.
> 7. Declare a variable `year` and assign it a value.
> 8. Declare a variable `is_marrie` and assign it a value.
> 9. Declare a variable `is_true` and assign it a value.

> For each of the above variable, display the value it contains using the `print()` function.

In [2]:
firstname='Malick'
lastname='DIAW'
full_name='Malick DIAW'
country='Senegal'
city='Thies'
age=24
year=2021
is_marrie=True
is_true=True
print(firstname)
print(lastname)
print(full_name)
print(country)
print(city)
print(age)
print(year)
print(is_marrie)
print(is_true)

Malick
DIAW
Malick DIAW
Senegal
Thies
24
2021
True
True

**Exercise 01:** 
> Check the data type of all your variables using the built-in function `type()`.**

In [5]:
type(firstname)

str

In [6]:
type(lastname)

str

In [7]:
type(full_name)

str

In [8]:
type(country)

str

In [9]:
type(city)

str

In [10]:
type(age)]

int

In [11]:
type(year)

int

In [12]:
type(is_marrie)

bool

In [13]:
type(is_true)

bool

**Exercise 02:** 
> Calculate the value of $y$ ($y = x^2 + 6x + 9$). Try using different values of $x$ and determine at what value of $x$ will $y$ be equal to 0.**

In [16]:
x=-3
y=x**2+6*x+9
y

0

**Exercise 03:** 
>    
     1. Declare your age as an integer variable
     2. Declare your height as a float variable
     3. Declare a variable that stores the base and height of a triangle. Calculate the area of this triangle (area = 0.5 x b x h).

In [32]:
age=24
height=1.74
area=0.5*age*height
area

20.88

## *Tip: receiving input from the user *
**To receive an input from the user, we use `input()`.**.

**Example**
Receive two numbers as input from the user and calculate their power:
```python
base = input("Enter a base: ")
exponent = input("Enter an exponent: ")
result = float(base) ** float(exponent)
print(f "{base} to the power of {exponent} = {result}")
```

**Exercise 04:** 
> **Write a small code that asks the user to enter the side $a$, the side $b$ and the side $c$ of a triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).**

In [10]:
print('donner le cote a')
a=input()
a=float(a)
print('donner le cote b')
b=input()
b=float(b)
print('donner le cote c')
c=input()
c=float(c)
perimetre=a+b+c
perimetre

donner le cote a
3
donner le cote b
3
donner le cote c
3

9.0

**Exercise 05:** 
> **Obtain the length and width of a rectangle using the prompt. Calculate its `area`and its `perimeter`.**

In [9]:
print('donner la longueur L')
L=input()
L=float(L)
print('donner la largeur l')
l=input()
l=float(l)
A=l*L
P=(L+l)*2
print(A,P)

donner la longueur L
2
donner la largeur l
1
2.0 6.0

**Exercice 06:** 
> **Obtenez le rayon d'un cercle en utilisant l'invite. Calculez l'aire (aire = pi x r x r) et la circonfÃ©rence (c = 2 x pi x r) oÃ¹ pi = 3,14.**

In [8]:
print('donner le rayon r')
r=input()
pi=3.14
r=float(r)
aire=pi*r*r
cir=2*pi*r
print(aire,cir)

donner le rayon r
3
28.259999999999998 18.84

**Exercice 07:**
> **Calculez la pente, l'ordonnÃ©e Ã  l'origine en x et l'ordonnÃ©e Ã  l'origine en $y$ de $y = 2x -2$.**

la pente est 2
si x=0 alors y=-2
si y=0 alors x=1

**Exercice 08:** 
> **RÃ©digez un script qui demande Ã  l'utilisateur d'entrer les heures et le taux horaire. Calculez la rÃ©munÃ©ration de la personne ?**

In [17]:
print('donner le nombre d heures de travail mensuel')
H=input()
H=float(H)
print('donner le taux horair')
T=input()
T=float(T)
R=T*H
print('la renumeration:',R)

donner le nombre d heures de travail mensuel
50
donner le taux horair
5000
la renumeration: 250000.0

**Exercice 09:** 
> **Ã‰crivez un script qui demande Ã  l'utilisateur d'entrer le nombre d'annÃ©es. Calculez le nombre de secondes qu'une personne peut vivre. Supposons qu'une personne puisse vivre cent ans.**

In [34]:
print('donner le nombre d annees')
a=input()
a=float(a)
ns=a*365*24*60*60
print('le nombre de seconde est:',ns)

donner le nombre d annees
4
le nombre de seconde est: 126144000.0

**Exercice 10:** 
> **Ã‰crivez un script Python qui affiche le tableau suivant**

    1 1 1 1 1
    
    2 1 2 4 8
    
    3 1 3 9 27
    
    4 1 4 16 64
    
    5 1 5 25 125

In [24]:

print('1 1 1 1 1')
print('')
print('2 1 2 4 8')
print('')
print('3 1 3 9 21')
print('')
print('4 1 4 16 64')
print('')
print('5 1 5 25 125')

1 1 1 1 1

2 1 2 4 8

3 1 3 9 21

4 1 4 16 64

5 1 5 25 125

**Exercise 11:** 
>**Assign the variables `time` and `distance` with the values $6.892$ and $19.7$. Calculate and display the value of the speed. Improve the display by imposing a digit after the decimal point.**

In [27]:
time=6.892
distance=17.7
V=17.7/6.892
print(V)
print(round(V,3))

2.5681950087057457
2.568

**Exercice 12:** 
> **Ã‰crire un programme qui, Ã  partir de la saisie dâ€™un rayon et dâ€™une hauteur, calcule levolume dâ€™un cÃ´ne droit.**

In [28]:
print('donner le rayon')
r=input()
r=float(r)
print('donner la hauteur')
h=input()
h=float(h)
pi=3.14
v=(pi*r*r*h)/3
v

donner le rayon
3
donner la hauteur
4

37.68

**Exercise 13:** 
> **The user gives a positive integer and the program announces how many times in a row this integer is divisible by 2.**

In [44]:
print('donner un entier positif')
a=input()
a=int(a)
i=0
while type(a)==int:
    b=a/2
    a=b
    i=i+1
print(i)

donner un entier positif
16
1

**Exercise 14:** 
>**The user gives an integer between 2 and 12, the program gives the number of ways to do this by rolling two dice.

In [53]:
print('donner un entier entre 2 et 12')
a=input()
a=float(a)
for i in range(1,7):
    for j in range(1,7):
        if i+j==a :
            print(i,j)

donner un entier entre 2 et 12
7
1 6
2 5
3 4
4 3
5 2
6 1

**Exercice 15:** 
> **Utilisez la fonction d'entrÃ©e intÃ©grÃ©e `input()` pour obtenir le `_prÃ©nom_`, le `_nom_`, le `_pays_d_origine` et l'`_age_` d'un utilisateur et stockez la valeur dans les noms des variables correspondantes.**

In [30]:
print('donner le prenom')
prenom=input()
print('donner le nom')
nom=input()
print('age')
age=input()
print('pays d origine')
po=input()

donner le prenom
2
donner le nom

age
2
pays d origine
2

**Exercice 16:** 

**DÃ©clarer $5$ comme `num_one` et $4$ comme `num_two`**

   1. Additionner `num_one` et `num_two` et affecter la valeur Ã  une variable `totale`.
   2. Soustraire `num_two` de `num_one` et affecter la valeur Ã  une variable `diff`.
   3. Multipliez le `num_one` et le `num_two` et attribuez la valeur Ã  une variable `produit`.
   4. Divisez le `num_one` par le `num_two` et attribuez la valeur Ã  une variable `division`.
   5. Calculez `num_one` Ã  la puissance de `num_two` et attribuez la valeur Ã  une variable `exp`.

In [31]:
num_one=5
nom_two=4
totale=num_one+nom_two
diff=num_one-nom_two
produit=num_one*nom_two
division=num_one/nom_two
exp=num_one**nom_two

<center> <b> <span style="color:orange;"> ðŸŽ‰ FÃ‰LICITATIONS! / CONGRATULATIONS! ðŸŽ‰ </span> </b></center>