

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets it√©rables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**D√©clarer une liste vide.**

In [1]:
a=[]

#### **Exercice 01:** 
>**D√©clarer une liste de plus de 5 √©l√©ments.**

In [6]:
a=[1,2,3,4,4,5,6,]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [7]:
len(a)

7

#### **Exercice 03:** 
>**Obtenez le premier √©l√©ment, l'√©l√©ment central et le dernier √©l√©ment de la liste.**

In [8]:
a[0]

1

In [9]:
a[-1]

6

In [10]:
a[3]

4

#### **Exercice 04:** 
>**D√©clarez une liste appel√©e mixed_data_types, mettez votre (nom, √¢ge, taille, √©tat civil, adresse).**

In [12]:
mixed_data_types=['malick diaw','24','1,74','senegalais','thies']

#### **Exercice 05:** 

    1. D√©clarez une variable liste appel√©e it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste √† l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

    5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

    6. Ajout d'une entreprise informatique √† it_companies

    7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une cha√Æne '# ; '.

    10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la m√©thode sort()

    12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

    13. Supprimez les 3 premi√®res entreprises de la liste.

    14. Supprimez les 3 derni√®res entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la premi√®re entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la derni√®re entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. D√©truire la liste des entreprises informatiques

1. D√©clarez une variable liste appel√©e it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

In [73]:
it_companies=['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']

2. Imprimez la liste √† l'aide de print()

In [75]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

3. Imprimez le nombre d'entreprises dans la liste

In [56]:
len(it_companies)

7

4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

In [57]:
it_companies[0],it_companies[3],it_companies[-1]

('Facebook', 'Apple', 'Amazon')

5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

In [58]:
it_companies[1]='orange'
it_companies

['Facebook', 'orange', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

6. Ajout d'une entreprise informatique √† it_companies

In [59]:
it_companies.insert(7,'ADIE')
it_companies

['Facebook', 'orange', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'ADIE']

7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

In [60]:
it_companies.insert(4,'ATOS')
it_companies

['Facebook',
 'orange',
 'Microsoft',
 'Apple',
 'ATOS',
 'IBM',
 'Oracle',
 'Amazon',
 'ADIE']

8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

In [61]:
it_companies[0]=it_companies[0].upper()

In [62]:
it_companies

['FACEBOOK',
 'orange',
 'Microsoft',
 'Apple',
 'ATOS',
 'IBM',
 'Oracle',
 'Amazon',
 'ADIE']

9. Joignez les it_companies avec une cha√Æne '# ; '.

In [63]:
'# ; '.join(it_companies)

'FACEBOOK# ; orange# ; Microsoft# ; Apple# ; ATOS# ; IBM# ; Oracle# ; Amazon# ; ADIE'

10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

In [64]:
if 'FACEBOOK' in it_companies:
    print('true')

true

11. Trier la liste en utilisant la m√©thode sort()

In [65]:
it_companies.sort()
it_companies

['ADIE',
 'ATOS',
 'Amazon',
 'Apple',
 'FACEBOOK',
 'IBM',
 'Microsoft',
 'Oracle',
 'orange']

12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

In [66]:
it_companies.reverse()
it_companies

['orange',
 'Oracle',
 'Microsoft',
 'IBM',
 'FACEBOOK',
 'Apple',
 'Amazon',
 'ATOS',
 'ADIE']

13. Supprimez les 3 premi√®res entreprises de la liste.

In [67]:
it_companies.remove(it_companies[0])
it_companies.remove(it_companies[0])
it_companies.remove(it_companies[0])
it_companies

['IBM', 'FACEBOOK', 'Apple', 'Amazon', 'ATOS', 'ADIE']

14. Supprimez les 3 derni√®res entreprises de la liste.

In [68]:
it_companies.remove(it_companies[-1])
it_companies.remove(it_companies[-1])
it_companies.remove(it_companies[-1])
it_companies

['IBM', 'FACEBOOK', 'Apple']

15. Supprimez la ou les entreprises informatiques du milieu de la liste.

In [69]:
it_companies.remove(it_companies[1])
it_companies

['IBM', 'Apple']

16. Supprimez la premi√®re entreprise informatique de la liste

In [70]:
it_companies.remove(it_companies[-1])
it_companies

['IBM']

20. D√©truire la liste des entreprises informatiques

In [71]:
del it_companies

In [72]:
it_companies

NameError: name 'it_companies' is not defined

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [119]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
front_end+back_end

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 √¢ges d'√©tudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'√¢ge minimum et maximum.
    2. Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.
    3. Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).
    4. Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).
    4. Trouver l'intervalle des √¢ges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().

In [123]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [124]:
print("l'age minimal est:",19)
print("l'age maximal est:",26)

l'age minimal est: 19
l'age maximal est: 26

In [128]:
ages.insert(9,19)
ages.insert(10,26)
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 19, 26, 19, 26, 19, 26]

In [132]:
len(ages)

15

In [133]:
print(ages[7])

25

In [136]:
sum(ages)/len(ages)

22.466666666666665

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Cr√©er un dictionnaire vide appel√© `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.
3. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.
6. Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences.
7. Obtenez les cl√©s du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()
10. Supprimer un des √©l√©ments du dictionnaire
11. Supprimer un des dictionnaires

In [15]:
dog={}

In [16]:
dog['nom']='Blec'
dog['couleur']='blanche'
dog['race']='pitbull'
dog['pattes']='longues'
dog['√¢ge']='1 an'
dog

{'nom': 'Blec',
 'couleur': 'blanche',
 'race': 'pitbull',
 'pattes': 'longues',
 '√¢ge': '1 an'}

In [23]:
student={'prenom':'Omar','nom':'Diaw','√¢ge':24,'√©tat civil':['omar diaw','10/01/1997','celibataire'],'competences':['modelisation','programation'],'pays':'senegal','adresse':'ndiawene'}

In [24]:
student

{'prenom': 'Omar',
 'nom': 'Diaw',
 '√¢ge': 24,
 '√©tat civil': ['omar diaw', '10/01/1997', 'celibataire'],
 'competences': ['modelisation', 'programation'],
 'pays': 'senegal',
 'adresse': 'ndiawene'}

In [25]:
len(student)

7

In [26]:
a=student.get('competences')
a

['modelisation', 'programation']

In [27]:
type(a)

list

In [28]:
student['competences'].insert(2,'football')
student['competences']

['modelisation', 'programation', 'football']

In [29]:
b=student.keys()
b

dict_keys(['prenom', 'nom', '√¢ge', '√©tat civil', 'competences', 'pays', 'adresse'])

In [30]:
c=student.values()
c

dict_values(['Omar', 'Diaw', 24, ['omar diaw', '10/01/1997', 'celibataire'], ['modelisation', 'programation', 'football'], 'senegal', 'ndiawene'])

In [31]:
student.items()

dict_items([('prenom', 'Omar'), ('nom', 'Diaw'), ('√¢ge', 24), ('√©tat civil', ['omar diaw', '10/01/1997', 'celibataire']), ('competences', ['modelisation', 'programation', 'football']), ('pays', 'senegal'), ('adresse', 'ndiawene')])

In [32]:
del student['prenom']
student

{'nom': 'Diaw',
 '√¢ge': 24,
 '√©tat civil': ['omar diaw', '10/01/1997', 'celibataire'],
 'competences': ['modelisation', 'programation', 'football'],
 'pays': 'senegal',
 'adresse': 'ndiawene'}

In [35]:
dog={}

<center> <b> <span style="color:orange;"> üéâ F√âLICITATIONS ! / CONGRATULATIONS !üéâ </span> </b></center>